.container1 {
    text-align: center;
}

.container2 {
    background-color: rgb(230, 221, 211);
    margin: 0 100px;
    height: 60px;
    text-align: center;
}

.container3 {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    margin-left: 100px;
    margin-top: 3px;
    margin-right: 100px;
}

.container4 {
    text-align: center;
}

.box3 a{
    display: inline-block;
}

.container3 div {
    background-color: rgb(4, 116, 46);
    margin-right: 1px;
    margin-left: 1px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}

* {
    margin: 0px;
    padding: 0px;
}